<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
    integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.min.js"
    integrity="sha384-0pUGZvbkm6XF6gxjEnlmuGrJXVbNuzT9qBBavbLwCsOGabYfZo0T0to5eqruptLy"
    crossorigin="anonymous"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
  <link rel="stylesheet"
    href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200">
  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

  {% load static %}
  <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
  <script src="{% static 'js/jquery-3.6.4.min.js' %}"></script>
  <script src="{% static 'js/jquery.rut.js' %}"></script>
  <script type="text/javascript" src="{% static 'js/calificacion.js' %}"></script>
  <script type="text/javascript" src="{% static 'js/carrito.js' %}"></script>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.0/font/bootstrap-icons.css" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <script type="text/javascript">
    var user = "{{request.user}}"
  </script>

  <title>Principal</title>

  <style>
    /* Estilos del footer */
    .opinions-feedback-footer {
      background-color: #13AEB4;
      color: #fff;
      padding: 10px 0;
      text-align: center;
    }
  </style>

</head>

<body style="background-color:#EAEDED ;">

  <header class="p-3 text-bg-dark">
    <div class="container">
      <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
        <a href="{% url 'home' %}" class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none">
          <!--logo tienda-->
          <img src="{% static 'imagenes/logotienda.png' %}" class="bi me-2" width="100" height="100" />
        </a>

        <!-- Paginas de navegación -->
        <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
          <li><a href="{% url 'home' %}" class="nav-link px-2 text-secondary">Home</a></li>
          <li><a href="{% url 'pagAccesorios' %}" class="nav-link px-2 text-white">Accesorios</a></li>
          <li><a href="{% url 'pagStickers' %}" class="nav-link px-2 text-white">Stickers</a></li>
          <li><a href="{% url 'pagTsurikawa' %}" class="nav-link px-2 text-white">Tsurikawa</a></li>
          <li><a href="{% url 'pagOpiniones' %}" class="nav-link px-2 text-white">Sugerencias</a></li>
          


          {% if user.is_authenticated %}
          {% if user.groups.all|length > 0 %}
          {% for group in user.groups.all %}
          {% if group.name == "user" %}
          <li><a href="{% url 'misCompras'%}" class="nav-link px-2 text-white">Mis Compras</a></li>
          {% endif %}
          {% endfor %}
          {% endif %}
          {% endif %}
          {% if user.is_authenticated %}
          {% if user.groups.all|length > 0 %}
          {% for group in user.groups.all %}
          {% if group.name == "administrador" %}
          <li><a href="{% url 'pagAdmin' %}" class="nav-link px-2 text-white">Admin</a></li>
          {% endif %}
          {% endfor %}
          {% endif %}
          {% endif %}

        </ul>

        <!-- buscar junto a botón -->
        <form class="d-flex">
          <input id="buscador" name="buscador" class="form-control me-2" type="search" placeholder="Buscar"
            aria-label="Buscar">
        </form>

        <!-- Iniciar sesión o registro -->
        <div class="mx-2">
          <ul class="navbar-nav">
            <li class="nav-item">
              {% if user.is_authenticated %}
              <!-- Si el usuario está autenticado, muestra un botón de cierre de sesión -->
              <a href="{% url 'logout' %}" class="btn btn-outline-light me-2">Cerrar Sesión</a>
              <button type="button" class="btn btn-warning">Bienvenido {{user.username}}</button>
              {% else %}
              <!-- Si el usuario no está autenticado, muestra el icono de inicio de sesión o registro -->
              <a href="{% url 'login' %}" class="btn btn-outline-light">Iniciar Sesión</a>
              {% endif %}
            </li>
          </ul>
        </div>

        <!-- Carrito de compras -->
        <a href="{% url 'carrito' %}">
          <img id="cart-icon" src="{% static 'imagenes/cart.png' %}" alt="Carrito de compras">
        </a>
        <span id="cart-total"></span>
      </div>
    </div>
  </header>

  <main>
    <div id="contenido">
      {% block contenido %}

      {% endblock %}
    </div>

  </main>

  <!-- FOOTER -->

  <footer class="footer opinions-feedback-footer">

    {% block mi_footer %}
    {% endblock %}
    <p>© 2024 Compañía Street Tuning. Todos los derechos reservados.</p>

  </footer>

  <div class="contenido">
    {% if messages %}
    {% for m in messages %}
    {% if m.tags == "error" %}
    <script>
      Swal.fire({
        "title": "Error",
        "text": "{{m}}",
        "icon": "{{m.tags}}"
      })
    </script>
    {% else %}
    <script>
      Swal.fire({
        "title": "Felicitaciones",
        "text": "{{m}}",
        "icon": "{{m.tags}}"
      })
    </script>
    {% endif %}
    {% endfor %}
    {% endif %}
  </div>



  <script>
    $('#buscador').on('input', function (e) {
      var search_text = this.value.trim()
      console.log(search_text)
      if (search_text == '') {
        console.log('Texto vacio')
        $('#resultado_busqueda').hide();
        return;
      }
    });

    $('#buscador').keyup(function (e) {
      var search_text = this.value.trim()
      console.log(search_text)
      if (search_text == '') {
        console.log('Texto vacio')
        $('#resultado_busqueda').hide();
        return;
      }
      $.ajax({
        url: "/busqueda?search_text=" + search_text,
        type: "GET",
        dataType: "html",
        success: (data) => {
          $('#resultado_busqueda').html(data);
          $('#resultado_busqueda').show();
        },
        error: (error) => {
          console.log(error);
        }
      });
    });
  </script>

</body>

</html>