{% extends 'base.html' %}
{% load static %}

{% block contenido %}

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Accesorios Automotrices</title>
<!-- Se incluye  SweetAlert2 desde la CDN para realizar la alerta -->
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
     <!-- Incluir tu archivo CSS -->
</head>
<!-- Contenido de la página de accesorios -->
<div class="pag-accesorios">
  <!-- Imagen principal -->
  <div class="container-fluid">
    <img src="{% static './imagenes/principalAccesorios.png'%}" class="img-fluid" alt="...">
  </div>

  <!-- Contenido de la página -->
  <div class="container">
   

    <!-- Título -->
    <br>
    <br>
    <h1>Lip</h1>
    <br>
    <br>
    <!-- Catálogo de imágenes -->

    <div class="row">

      {% for p in lip %}
      <!--- Contenido se crea un for para que recorra los productos con categoria capucha -->
      <div class="col-md-3">
        <div class="catalog-item text-center">
          {% if p.foto %}
          <img width="170" height="350" src="{{p.foto.url}}" class="img-responsive wp-post-image" alt="LuzDeSecuencia"
            class="img-fluid">
          {% else %}
          <img width="270" height="350" src="" class="img-responsive wp-post-image" alt="LuzDeSecuencia"
            class="img-fluid">
          {% endif%}
          <div class="catalog-item-title">{{p.nombre}}</div>
          <div class="catalog-item-price">${{p.precio|floatformat:0}}</div>
          <button data-p="{{ p.id_producto }}" data-action="add" class="btn-agregar add-btn update-cart">
            Agregar al Carrito
        </button>
        </div>
      </div>
      {% endfor %}

    </div>
</div>
</div>
  {% endblock %}