{% extends 'base.html' %}
{% load static %}

{% block contenido %}
{% load crispy_forms_tags %}

<style>
    /* Estilos específicos para la página de stickers personalizados */
    .custom-stickers-form {
        max-width: 600px;
        margin: 0 auto;
        padding: 20px;
        background-color: #fff;
        border-radius: 10px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }

    .custom-stickers-form h2 {
        text-align: center;
        color: #0D98B6;
    }

    .custom-stickers-form label {
        display: block;
        margin-bottom: 10px;
    }

    .custom-stickers-form input,
    .custom-stickers-form textarea {
        width: 100%;
        padding: 10px;
        margin-bottom: 20px;
        border: 1px solid #ccc;
        border-radius: 5px;
        box-sizing: border-box;
    }

    .custom-stickers-form button {
        background-color: #13AEB4;
        color: #fff;
        border: none;
        padding: 10px 20px;
        border-radius: 5px;
        cursor: pointer;
    }

    .custom-stickers-form button:hover {
        background-color: #0D98B6;
    }
</style>

<div class="custom-stickers-form">
    <h2>Solicitar Stickers Personalizados</h2>
    <form action="" method="POST"id="personalizado" enctype="multipart/form-data">
        {% csrf_token %}

        {{form | crispy}}
        <button type="submit">Enviar Solicitud</button>
    </form>
    {{mensaje}}                           
</div>

{% endblock %}
