{% extends 'base.html' %}
{% load static %}

{% block contenido %}
{% load crispy_forms_tags %}

 <!-- Incluir tu archivo CSS -->
<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">

<div class="custom-stickers-form">
    <h2>Solicitar Stickers Personalizados</h2>
    <form action="" method="POST"id="personalizado" enctype="multipart/form-data">
        {% csrf_token %}

        {{form | crispy}}

        <button type="submit">Enviar Solicitud</button>
    </form>
    {{mensaje}}                           
</div>

{% endblock %}
