{% block contenido %}
{% extends 'base.html' %}
{% load static %}


<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reporte de Ventas</title>
</head>
<body>
    <h1>Reporte de Ventas</h1>

    <h2>Órdenes Completadas</h2>
    <ul>
        {% for orden in ordenes_completadas %}
            <li>Orden ID: {{ orden.transaccion_id }}, Fecha: {{ orden.fecha_orden }}, Total: {{ orden.get_carrito_total }}</li>
        {% endfor %}
    </ul>

    <h2>Ventas Totales</h2>
    <p>{{ ventas_totales.total_ventas }}</p>

    <h2>Productos Vendidos</h2>
    <p>{{ productos_vendidos.total_productos_vendidos }}</p>

    <h2>Porcentajes de Categorías Vendidas</h2>
    <ul>
        {% for categoria in categorias_ventas %}
            <li>{{ categoria.nombre }}: {{ categoria.porcentaje_vendido }}%</li>
        {% endfor %}
    </ul>
</body>

{% endblock %}
